@font-face {
font-family: "intelOneMomo";
src: url("/assets/fonts/IntelOneMono-VariableFont_wght.ttf")format("truetype");
font-weight: normal;

}


*{
margin: 0px;
box-sizing: border-box;
}

body{
font-family:"intelOneMomo";
color:#000;
background-color:lightgoldenrodyellow;
line-height: 1.7;
}

header{
background: #d8f3dc;
text-align: center;
padding: 40px 20px;
}

.menu-navegacao{
background: #f0f4f8;
padding: 15px;
border-bottom: 2px solid green;
position: fixed;
top: 0;
left: 0;
width: 100vw;
z-index: 100;
}
.menu-navegacao a {
margin: 0;
color: green;
text-decoration: none;
font-weight: bold;
transition: 0.3s;
}

.menu-navegacao a:hover , .ativo{
border-bottom: 3px solid #f69337;}